
.banner {
    background: var(--gradient-blue);
    color: var(--main-white);
    text-align: center;
    padding: 2.5em 2em;
    }
  
  
  .title__banner {
    font-weight: 700;
    font-size: 1.125em;
    color: var(--main-white);
  }
  
  .text__banner {
    font-weight: 500;
    color: var(--main-white);
    margin: 1rem 0 1.5rem 0;
  }