.title__carousel {
  background-color: var(--main-white);
  text-align: center;
  color: var(--orange);
  font-weight: 700;
  font-size: 1.125em;
  padding: 1em;
}

.swiper-slide img {
  width: 100%;
}

.swiper-button-prev,
.swiper-button-next {
  display: none;
}

.swiper-pagination {
  position: initial;
  margin: 0.5em 0;
}

.card {
  background-color: var(--main-white);
  margin: 1rem;
  padding: 1em;
  box-shadow: 0rem 0.25rem 0.25rem rgba(0,0,0,0.25);
  border-radius: 0.625rem;
}

._1st__line {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.5em;
}

.f__text {
  color: var(--orange);
  font-weight: 700;
  font-size: 1rem;
}

.s__text {
  color: var(--blue);
  font-weight: 700;
  font-size: 1.125rem;
  padding: 0.5em 0;
}

.par {
  font-size: 0.875rem;
}

.angular__logo {
  margin-bottom: 2.19rem;
}

._2nd__line {
  display: flex;
  justify-content: space-between;
}

.anchor__list {
  display: flex;
}

.anchor-item {
  margin: 0 0.5em;
}

.learn-more__button {
  padding: 1em 2.2em;
  text-decoration: none;
  background-color: var(--orange);
  color: var(--main-white);
  font-weight: 700;
}