.header {
  background-color: var(--main-white);
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.container {
  display: flex;
  align-items: center;
}

.header__menu-bg {
  width: 1.5rem;
  height: 1.5rem;
  background-image: url("../Assets/Menu.svg");
  background-repeat: no-repeat;
  background-position: center;
  display: inline-block;
}

.container__img {
  padding: 1em;
}

.list-menu {
  display: none;
  position: absolute;
  top: 100%;
  width: 18.75rem;
}

.container__button:checked ~ .list-menu{
  display: block;
}

.list-menu__title,
.list-menu__item {
  padding: 1em;
  background-color: var(--main-white);
}

.list-menu__title {
  color: var(--orange);
  font-weight: 700;
  font-size: 1rem;
}

.list-menu__link {
  background: var(--gradient-blue);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-transform: uppercase;
}

.container__button {
  display: none;
}

.main-title {
  display: none;
}

.tablet-header__list {
  display: none;
}

@media screen and (min-width: 1024px) {

  .main-title{
    font-family: var(--title-font);
    font-weight: 400;
    font-size: 1.875rem;
    display: block;
  }

  .main-title__bold{
    font-family: var(--title-font);
    font-weight: 700;
    font-size: 1.875rem;
  }

  .header__menu-bg {
    display: none;
  }

  .tablet-header__list {
    display: flex;
  }

  .tablet-header__item {
    padding: 0 1em;
    text-transform: uppercase;
  }

  .tablet-anchor {
    font-family: var(--main-font);
    text-decoration: none;
    color: var(--black);
  }

  .heart__img {
    display: none;
  }

  .cat-tablet__button:checked~.list-menu {
    display: block;
    width: auto;
  }

  .cat-tablet__button {
    display: none;
  }

  .container {
    justify-content: space-between;
  }

}

.header-img__anchor {
  display: none;
}

@media screen and (min-width: 1728px){
  .dp_flex {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: var(--black);
    font-size: 1.25rem;
  }

  .header {
    padding: 0 2em;
  }

  .header-img__anchor {
    display: block;
    padding: 0.5em;
  }

  .tablet-header__list {
    margin-right: auto;
  }
}