.recently-viewed {
  background-color: var(--main-white);
  padding: 1em 0;
}

.container-viewed {
  background: var(--gradient-blue);
  text-align: center;
}

.container-viewed__title {
  text-transform: uppercase;
  color: var(--main-white);
  text-align: center;
  font-weight: 300;
  padding-top: 1em;
}

.topic-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.topic-item {
  margin: 2em 0.5em;
}

.topic-link {
  text-decoration: none;
  color: var(--main-white);
  font-size: 0.875rem;
  font-weight: 700;
  background-color: var(--orange);
  padding: 1em;
}

.bottom-container {
  margin: 1.5em 1.5em 0 1.5em;
}

.bottom-container__title,
.bottom-container__par {
  background: var(--gradient-blue);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  font-weight: 500;
  font-size: 1.125rem;
}

.addinfo {
  font-size: 1rem;
  font-weight: 300;
  margin: 1em 0;
}

.mail {
  padding: 1em;
  border: 0.0625rem solid var(--blue);
  border-radius: 1.5rem;
  width: 90%;
  color: var(--blue);
}

.mail::placeholder {
  font-family: var(--main-font);
  color: var(--blue);
  background: url("../Assets/Email.svg");
  background-repeat: no-repeat;
  padding-left: 2em;
}

@media screen and (min-width: 1024px) {
  .container-viewed__title {
    font-size: 1.5rem;
    font-weight: 300;
    padding: 1em 0;
  }

  .topic-link {
    font-size: 1.5rem;
  }

  .bottom-container__title,
  .bottom-container__par {
    background: var(--gradient-blue);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    font-weight: 500;
    font-size: 1.5rem;
  }
  
  .addinfo {
    font-size: 1rem;
    font-weight: 300;
    margin: 1em 0;
  }

  .bottom-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .div-text {
    margin-right: 3em;
    width: 30%;
  }

  .mail {
    width: 30%;
  }

}

@media screen and (min-width: 1728px) {
  
  .container-viewed {
    padding: 0 20vw 3em 20vw;
  }
  
  .container-viewed__title {
    font-size: 2rem;
    padding: 2.5rem 0;
  }

  .topic-link {
    padding: 1em 2em;
  }

  .bottom-container {
    padding: 3em 20vw;
  }
}